<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Hyva\CheckoutPayPal\Magewire\Payment\Method\Oney"
                 type="Hyva\CheckoutPayplug\Magewire\Payment\Method\Oney">

    </virtualType>
</config>
