/**
 * Payplug - https://www.payplug.com/
 * Copyright © Payplug. All rights reserved.
 * See LICENSE for license details.
 */

@import "./components/apple-pay.css";
@import "./components/oney.css";
@import "./components/standard.css";

@theme {
  /* Custom colors */
  --color-payplug: #212225;

  --color-oney: #81BC00;
  --color-oney-lighter: #ECF5D9;
  --color-oney-darker: #2F2930;
  --color-oney-error: #2F2930;

  --color-standard-error: #E91932;
  
  /* Custom border colors */
  --color-border-oney: #81BC00;
  --color-border-oney-lighter: #DCE0E8;
  
  /* Custom spacing for width */
  --width-payment-card: 33px;
  
  /* Custom spacing for height */
  --height-payment-card: 22px;
}

@source "../layout/**/*.xml";
@source "../templates/**/*.phtml";
