apple-pay-button {
    --apple-pay-button-width: auto;
    --apple-pay-button-border-radius: 0.1875rem;
    --apple-pay-button-padding: 0.5rem 0rem;

    &.is-disabled {
        pointer-events: none;
    }
}

/* Cart summary */
.checkout-methods-items {
    .pp-apple-pay-button {
        @apply mb-8;
    }

    apple-pay-button {
        @apply w-full;
        --apple-pay-button-height: 2.125rem;
        --apple-pay-button-padding: 0.85rem 0rem;
        --apple-pay-button-border-radius: 0.5rem;
    }
}

/* Checkout item */
#payment-method-view-payplug_payments_apple_pay {
    @apply text-center;
}
