apple-pay-button {
    --apple-pay-button-width: auto;
    --apple-pay-button-height: 2.25rem;
    --apple-pay-button-padding: 0.25rem;
    --apple-pay-button-border-radius: 0.5rem;

    &.is-disabled {
        pointer-events: none;
    }
}

/* Cart summary */
.checkout-methods-items {
    apple-pay-button {
        @apply w-full;
    }
}

/* Checkout item */
#payment-method-view-payplug_payments_apple_pay {
    @apply text-center;

    apple-pay-button {
        --apple-pay-button-height: 2rem;
    }
}
