.cart-form {
    @apply relative z-10;
}

.oney-checkout-error {
    @apply text-[#b2b2b2];

    &.active {
        @apply mb-[15px];
    }
}

.oney-logo-checkout {
    @apply max-w-[150px];
}

[data-oney-container='payplug_payments_oney_without_fees'] .oney-logo-checkout {
    @apply max-w-[170px];
}

.oneyLogo {
    background: 50% no-repeat;
    background-size: 100%;
}

.oney-payment {
    @apply relative pt-[90px];

    @screen md {
        @apply flex gap-4 justify-between pt-0 overflow-hidden;
    }

    .field {
        @apply flex-1 mt-0;

        &:nth-child(1),
        &:nth-child(2) {
            input {
                &:checked {
                    + label {
                        .oney-option-prices {
                            @apply flex;
                        }

                        .oney-option-title {
                            border-bottom: 5px solid #81bc00;

                            @screen md {
                                @apply border-0;
                            }
                        }

                        @screen md {
                            @apply border-[#81bc00] after:opacity-100;
                            background: rgba(129, 188, 0, 0.15);
                        }
                    } 
                }
            }
        }

        &:nth-child(2) {
            .oney-option-title {
                @apply left-auto right-0 border-l-0;
            }
        }
    }

    &-disabled {
        @apply max-h-[none];

        .oney-payment-trigger {
            @apply text-[#b2b2b2] after:hidden cursor-default;

            &:hover {
                background: #fbfbfb;
            }
        }
    }

    &-open {
        @apply max-h-[10000vh];
    }

    &-trigger {
        @apply items-center text-[#333] flex text-[17px] font-[bold] h-[88px] tracking-[-1px] relative text-left w-full px-[15px] py-0 border-0;
        background: none;

        &:hover {
            background: #f6f6f6;
        }
    }

    &-label {
        @apply flex flex-col leading-[1.3em];
    }

    &-error {
        @apply text-sm italic font-normal;
    }

    &-logo {
        @apply block h-[45px] max-w-full w-[165px] ml-0 mr-[15px] my-0;
        background-size: 110%;
    }

    &-cta {
        @apply flex justify-center w-full mt-0 mb-[30px] mx-0;
    }

    &-button {
        @apply text-white text-[15px] h-[50px] w-[254px] border-0;
        background: #81bc00;
    }

    &-button-disabled {
        background: #b2b2b2;
    }
}

.oney-payment-open {
    .oney-payment-trigger {
        &:hover {
            background: #fbfbfb;
        }

        &:focus {
            outline: 0;
        }

        &::after {
            @apply content-['\f054'] absolute right-[7px] top-2/4 flex justify-center items-center h-[30px] w-[30px] text-[#777] text-[25px];
        }
    }
}

.oney-option {
    @apply flex flex-col items-center h-full m-0 bg-white cursor-pointer;

    @screen md {
        @apply p-6 border border-solid border-[#dce0e8] hover:border-[#81bc00] after:hover:opacity-100;
    }

    &-wrapper {
        @apply relative flex flex-wrap justify-center px-2 py-0;
    }

    &-wrapper-loading {
        @apply justify-center p-4;
    }

    &-logo {
        @apply block h-[35px] max-w-full w-[135px];
    }

    &-title {
        @apply flex flex-col justify-center items-center h-[90px] absolute top-0 left-0 w-1/2 p-3 bg-white border border-[#dce0e8] border-b-white border-b-[5px] text-[#2f2930] text-[13px] font-medium;

        @screen md {
            @apply static top-auto left-auto right-auto w-full pt-0 pb-[35px] px-0 bg-transparent border-0;
        }
    }

    &-prices {
        @apply hidden flex-col justify-between h-full w-full border p-4;

        @screen md {
            @apply flex border-0 p-0;
        }

        ul {
            @apply flex flex-col h-full w-full text-[#2f2930] text-[15px] font-semibold m-0 pl-0;

            li {
                @apply flex justify-between flex-wrap leading-[21px] pt-0 pb-4 px-0 border-b-[#dce0e8] border-b border-solid;

                & + li {
                    @apply px-0 py-4;
                }

                &:last-child {
                    @apply mt-auto mb-0 mx-0 pt-4 pb-0 px-0 border-0;
                }

                span {
                    @apply flex font-semibold max-w-[50%] first:font-medium;
                }

                small {
                    @apply block w-full;
                }
            }
        }
    }

    &-legend {
        @apply text-[#2f2930] font-normal text-center mt-auto mb-0 mx-0;
    }
    
    &-radio {
        @apply sr-only;
    }
}

.oney-option-wrapper-loading + .oney-payment-cta {
    @apply hidden;
}

.oney-it[data-oney-container='payplug_payments_oney_without_fees'] .oney-option_title {
    @apply h-[110px];
}

@media (max-width: 767px) {
    .oney-payment-open {
        @apply mb-[15px];
    }

    .oney-payment-trigger {
        @apply flex-col justify-center items-start;
    }

    .oney-payment-disabled .oney-payment-trigger {
        @apply h-auto px-[15px] py-2;
    }

    .oney-payment .more-info {
        @apply mt-2.5;
    }

    .oney-option {
        @apply static w-full m-0 p-0 border-0 after:hidden;
        background: none;
    
        &-selected {
            @apply border-0;
            background: none;

            .oney-option_title {
                @apply border-b-[5px] border-b-[#81bc00] border-solid;
            }
        
            .oney-option_prices {
                @apply block;
            }
        }
    
        &-wrapper {
            @apply relative pt-[89px] pb-0 px-0;
        }

        &-wrapper-loading {
            @apply p-4;
        }
    
        &-logo {
            @apply h-[30px] w-[100px];
        }

        &-prices {
            @apply box-border hidden h-auto border px-4 py-[30px] border-solid border-[#dce0e8];
    
            ul {
                li {
                    @apply px-0 py-2;
                }
            }
        }

        &-title {
            @apply absolute w-6/12 border p-0 border-b-[5px] border-b-transparent border-solid border-[#dce0e8] left-0 top-0;
            background: transparent;
        }
    
        &:nth-child(2) {
            .oney-option_title {
                @apply border-l-0 left-2/4;
            }
        }
    }

    [data-oney-container='payplug_payments_oney_without_fees'] {
        .oney-option_logo {
            @apply w-[150px];
        }
    }

    .oney-it[data-oney-container='payplug_payments_oney_without_fees'] {
        .oney-option_wrapper {
            @apply pt-[109px] pb-0 px-0;
        }

        .oneyLogo-3x,
        .oneyLogo-4x {
            @apply h-[55px];
        }
    }
}

}
