.error-container {
    .cardholder-input-container,
    .pan-input-container,
    .exp-input-container,
    .cvv-input-container {
        @apply text-sm;
    }
}

.pp-integrated-payment {
    @apply block justify-between w-[300px] mb-0;

    .exp-cvv-container {
        @apply flex gap-3 justify-between mt-3;
    }

    .transaction-secured {
        @apply flex justify-center items-center gap-3 w-full mt-3 text-payplug text-sm text-center leading-5;

        img {
            @apply h-4;

            &.payplug-logo {
                @apply min-w-[90px];
            }
        }
    }

    .invalid-field,
    .empty-field { 
        @apply hidden text-standard-error;
    }
}

.pp-integrated-payment_select {
    @apply h-9 w-full rounded-md py-0 px-2 mt-0 mx-0 mb-3 border border-solid border-[#ccc];
}

.pp-integrated-payment_container {
    @apply relative flex w-full p-0 m-0;

    &.-cardHolder,
    &.-pan,
    &.-exp,
    &.-cvv {
        @apply h-10 rounded-sm py-0 pr-4 pl-12 border border-solid border-[#d5d6d8] bg-white leading-10 cursor-text;

        &::before {
            @apply content-[''] absolute w-6 h-6 left-4 top-[20%];
            background: rgb(149, 153, 158) 50% center / 100% no-repeat;
        }

        &.-focus {
            @apply border-[#2b343d];
        }

        &.-invalid {
            @apply border-[#e91932];
        }
    }

    &.-scheme {
        @apply justify-between items-center h-[22px] my-3 mx-0 text-sm font-bold uppercase;
    }

    &.-transaction {
        @apply inline-block mt-3;
    }

    img.lock-icon {
        @apply !float-left w-[18px];
    }

    .transaction-label {
        @apply align-super text-xs ml-1;
    }

    .payplug-logo {
        @apply inline-block w-20 h-auto align-text-top ml-[6px];
        float: inherit !important;
    }
}

.pp-integrated-payment_error {
    @apply w-full mx-0 -mt-3 mb-3 pl-1 text-xs text-standard-error leading-[18px];

    &.-cardHolder {
        @apply mx-0 -mt-3 mb-0;
    }

    &.-exp,
    &.-cvv {
        @apply w-full;
        max-width: calc(49%);
    }

    &.-cvv {
        @apply self-end -mt-3 mr-0 mb-3 ml-auto;
    }

    &.-payment,
    &.-fields,
    &.-api {
        @apply hidden items-center justify-center w-full mt-3 mx-0 mb-0 py-1 px-0 leading-[18px] text-center text-standard-error;
        background: rgba(233, 25, 50, 0.08);

        &.-show {
            @apply flex;
        }
    }
}

.pp-integrated-payment_scheme {
    @apply m-0;

    span {
        @apply block w-[33px] h-[22px] cursor-pointer;
        background: 50% no-repeat;
        background-size: 100% auto;

        &::before {
            @apply content-[''] block w-full h-full opacity-0;
            background: 50% no-repeat;
            background-size: 100% auto;
        }
    }
}

.pp-integrated-payment_schemes {
    @apply flex justify-between items-center flex-wrap w-[115px];
}

.payplugIntegratedPayment_schemes {
    label {
        @apply table-cell;
    }
}

.-hide {
    @apply hidden;
}
