/* To Tailwindify */

.payplug-payments-cards {
    padding-left: 2rem;

    img {
        display: inline;
    }

    li {
        margin-bottom: 1rem;
    }

    .card-last4 {
        vertical-align: top;
    }
}

.error-container {
    &.cardholder-input-container,
    &.pan-input-container,
    &.exp-input-container,
    &.cvv-input-container {
        font-size: 14px;
    }
}

#payplug-payment-form {
    padding-left: 2rem;
}

#payplug-payment-form {
    &.IntegratedPayment {
        .exp-cvv-container {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            margin-top: 10px;
        }

        .transaction-secured {
            color: #212225;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 100%;

            img {
                height: 16px;

                &.payplug-logo {
                    min-width: 90px;
                }
            }
        }

        .transaction-secured,
        .policy {
            font-size: 14px;
            line-height: 21px;
            width: 100%;
            text-align: center;
            font-size: 14px;
            line-height: 21px;
        }

        .policy {
            a {
                display: block;
                color: #909192;
                text-decoration: underline;
            }
        }

        .invalid-field,
        .empty-field {
            color: #e91932;
            display: none;
        }
    }
}

.IntegratedPayment {
    width: 300px;
    display: block;
    justify-content: space-between;
    margin-bottom: 0px;

    &.-loaded {
        margin-top: 20px;
    }

    &_select {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0 8px;
        margin: 0 0 10px;
        height: 36px;
        width: 100%;
    }

    &_container {
        display: flex;
        padding: 0;
        margin: 0 0 10px;
        width: 100%;
        position: relative;

        &.-cardHolder,
        &.-pan,
        &.-exp,
        &.-cvv {
            height: 40px;
            line-height: 40px;
            border-radius: 2px;
            padding: 0 16px 0 50px;
            cursor: text;
            border: solid 1px #d5d6d8;

            &::before {
                content: '';
                position: absolute;
                top: 20%;
                left: 16px;
                width: 24px;
                height: 24px;
                background: #95999e 50% no-repeat;
                background-size: 100% auto;
            }
        }

        &.-cardHolder.-focus,
        &.-pan.-focus,
        &.-exp.-focus,
        &.-cvv.-focus {
            border-color: #2b343d;
        }

        &.-cardHolder.-invalid,
        &.-pan.-invalid,
        &.-exp.-invalid,
        &.-cvv.-invalid {
            border-color: #e91932;
        }

        &.-scheme {
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            height: 22px;
            margin: 10px 0;
        }
        
        &.-saveCard {
            display: flex;
            height: auto;
            align-items: center;
            padding: 10px 0 0;
        }
        
        &.-saveCard label {
            margin: 0;
            cursor: pointer;
            font-size: 12px;
            color: #918f8f;

            &:hover {
                color: #2b343d;
                transition: 0.1s;

                span {
                    border-color: #2b343d;
                    transition: 0.1s;

                    &:before {
                        opacity: 1;
                    }
                }
            }

            input {
                display: none;
            }

            span {
                border: 1px solid #d5d6d8;
                border-radius: 2px;
                cursor: pointer;
                display: inline-block;
                height: 16px;
                margin: 0 10px -3px 0;
                position: relative;
                -webkit-transition: border 0.4s;
                -moz-transition: border 0.4s;
                -ms-transition: border 0.4s;
                -o-transition: border 0.4s;
                transition: border 0.4s;
                width: 16px;
    
                &::before {
                    border: 2.5px solid #2b343d;
                    border-radius: 1px;
                    border-right: none;
                    border-top: none;
                    content: '';
                    display: block;
                    height: 3px;
                    left: 50%;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translate(-50%, -55%) rotate(-48deg);
                    -moz-transform: translate(-50%, -55%) rotate(-48deg);
                    -ms-transform: translate(-50%, -55%) rotate(-48deg);
                    -o-transform: translate(-50%, -55%) rotate(-48deg);
                    transform: translate(-50%, -55%) rotate(-48deg);
                    -webkit-transition: opacity 0.4s;
                    -moz-transition: opacity 0.4s;
                    -ms-transition: opacity 0.4s;
                    -o-transition: opacity 0.4s;
                    transition: opacity 0.4s;
                    width: 9px;
                }
            }
        }
        
        &.-deferred {
            margin: 10px 0;
            background: #e9eaeb;
            padding: 4px 15px;
            font-size: 12px;
            color: #2b343d;
            display: block;
            text-align: center;
        }
        
        &.-transaction {
            display: inline-block;
            margin-top: 10px;
        }
        
        &.-privacy-policy {
            display: inline-block;
            text-align: center;
        }
        
        &.-privacy-policy a {
            color: #918f8f;
            font-size: 14px;
        }

        img.lock-icon {
            width: 18px;
            float: left !important;
        }
        
        .transaction-label {
            font-size: 12px;
            margin-left: 5px;
            vertical-align: super;
        }
        
        .payplug-logo {
            width: 80px;
            height: auto;
            display: inline-block;
            float: inherit !important;
            margin-left: 6px;
            vertical-align: text-top;
        }
    }

    &_error {
        color: #e91932;
        font-size: 12px;
        margin: -10px 0 10px;
        width: 100%;
        line-height: 18px;
        padding-left: 4px;

        &.-cardHolder {
            margin: -10px 0 0;
        }
        
        &.-exp,
        &.-cvv {
            width: 100%;
            max-width: calc(49%);
        }
        
        &.-cvv {
            justify-self: flex-end;
            margin: -10px 0 10px auto;
        }
        
        &.-payment,
        &.-fields,
        &.-api {
            display: none;
            background: rgba(233, 25, 50, 0.08);
            color: #e91932;
            text-align: center;
            width: 100%;
            line-height: 18px;
            align-items: center;
            justify-content: center;
            margin: 10px 0 0;
            padding: 4px 0;
        }
        
        &.-payment.-show,
        &.-fields.-show,
        &.-api.-show {
            display: flex;
        }
    }

    &_scheme {
        margin: 0;

        span {
            cursor: pointer;
            display: block;
            width: 33px;
            height: 22px;
            background: 50% no-repeat;
            background-size: 100% auto;

            &::before {
                display: block;
                width: 100%;
                height: 100%;
                content: '';
                background: 50% no-repeat;
                background-size: 100% auto;
                opacity: 0;
            }
        }
        
        input,
        span {
            display: none;

            &:checked {
                opacity: 1;
            }
        }
    }
    
    &_schemes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 115px;
    }

    .ipOverlay {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(25, 25, 25, 0.5);
        z-index: 100;

        &_inner {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    
        &_content {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    
        &_spinner {
            width: 75px;
            height: 75px;
            display: inline-block;
            border-width: 2px;
            border-color: rgba(255, 255, 255, 0.05);
            border-top-color: #fff;
            animation: spin 1s infinite linear;
            border-radius: 100%;
            border-style: solid;
            position: fixed;
            top: 50%;
            left: 50%;
        }
    }
}

.payplugIntegratedPayment_schemes label {
    display: table-cell;
}

.-hide {
    @apply hidden;
}

@keyframes spin {
    .IntegratedPayment .ipOverlay 0% {
        transform: rotate(0deg);
    }

    .IntegratedPayment .ipOverlay 100% {
        transform: rotate(360deg);
    }
}